#theater img {
    width: 100%;
}
#theater img.preloaded {
    display: none;
}

#holdingStation .col-md-12 {
	padding: 0 45px;
    margin-bottom: 10px;
}
#holdingStation .panel-body {
	text-align: center;
}
.pokemon {
	border-radius: 50%;
	padding: 10px;
}
#holdingStation .pokemon.starter {
/*	border: #337ab7 5px solid; */
	border: black 5px solid; 
	background-color: #337ab7;
	-webkit-transition-property: background-color -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: background-color -webkit-transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#holdingStation .pokemon.starter:hover {
	background-color: white;
	-webkit-transition-property: background-color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
} 
#holdingStation .pokemon.challenger {
	border: #f2dede 5px solid;
	background-color: #f2dede;
	max-height: 50%;
	-webkit-transition-property: background-color -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: background-color -webkit-transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#holdingStation .pokemon.challenger:hover {
	background-color: white;
	border-color: #a94442;
	-webkit-transition-property: background-color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
#holdingStation .pokemon.defeated {
	background-color: #a94442;
}
#holdingStation .pokemon.defeated img {
	visibility: hidden;
}
#holdingStation .col-md-3 {
	margin-bottom: 10px;
}

#battlefield .pokemon {
	border: none;
}